/captures
.gradle
.externalNativeBuild
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.cxx
.idea/
.DS_Store
/build

local.properties
.classpath
.project
.idea
*.apk
*.iml
*.ipr
*.iws
/app/release/*
/keys/*
.idea/workspace.xml


.idea/gradle.xml
.idea/misc.xml
.idea/copyright/profiles_settings.xml

gradle.properties
*credential.gradle
